*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-home{
  text-align: center;
}

img{
  height: 200px;
  width: 350px;
  border-radius: 10px;
}
.products-div{
  display: flex;
  justify-content: space-around;
  margin-top: 5em;
  flex-wrap: wrap;
}
 .pro-items{
   /* margin: 2em; */
   padding-bottom: 2em;
  box-shadow: 3px 3px 5px rgb(131, 131, 131);
  border-radius: 10px;
  margin-bottom: 2em;
 }
 h5{
   padding: 1em;
   background-color: rgb(165, 165, 165);
   color: white;
  
 }
 .cart-main{
   display: flex;
   flex-direction: column;
 }
 .bc{
   display: flex;
 }